@model List<PiattoViewModel>

<h1>Ecco la lista dei Piatti</h1>

@if (User.IsInRole("Administrator"))
{
    <a type=button class="btn btn-primary" asp-controller="Corsi" asp-action="Create">Inserisci nuovo Piatto</a>
}
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Presente nei menù</th>
            @if (User.IsInRole("Administrator"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Prezzo</td>
                <td>@item.PresenteMenu()</td>
                <td> 
                   <a asp-controller="Piatti" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Visualizza dettagli</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Piatti" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifica</a>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Piatti" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina</a>
                    }
                    @if (User.IsInRole("Administrator") && item.PresenteMenu()=="No")
                    {
                        <a asp-controller="Piatti" asp-action="AssegnaPiatto" asp-route-id="@item.Id" class="btn btn-danger">Assegna ad un menu</a>
                    }
                    @if (User.IsInRole("Administrator") && item.PresenteMenu()=="Sì")
                    {
                        <a asp-controller="Piatti" asp-action="DisassegnaPiatto" asp-route-id="@item.Id" class="btn btn-danger">Togli dal menu</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>
